#title-overlay{
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 12px 0;
}
.closed {
    opacity: 0;
}
#title-overlay #output-text {
    font-size: 0.85em;
    padding: 0;
    margin: 0;
}
.icon-close {
  width: 0.65em;
  height: 0.65em;
  margin-left: 15px;
  margin-top: 1px;
}
#close-button:hover {
  cursor: pointer;
}