.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #aabbcc;
}
li a.active{
    background-color: #047daa;
}
.header h1 {
    margin-top: 5px;
}
.header h2{
    margin-bottom: 5px;
}
.column {
    height:80vh;
    padding: 0;
}
.column.middle {
    margin:10px;
    flex: 4;
}

iframe {
    width: 100%;
    height: 100%;
}