.header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header h1 {
    margin-top: 5px;
}
.header h2{
    margin-bottom: 5px;
}

.column.middle {
    flex: 4;
}

iframe {
    width: 100%;
    height: 100%;
}