/* Baseado no design encontrado em https://codingartistweb.com/2021/07/toast-notifications-ui-design-html-css/ */
.show-toast{
    opacity: 1;
}
.hide-toast{
    opacity: 0;
}
.toast-wrapper{
    width: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 5;
    top: 10%;
    right: -12%;
}
.toast{
    width: 100%;
    height: 15%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ffffff;
    border-radius:0.6em;
    display: grid;
    grid-template-columns: 1fr 6fr 0.5fr;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}
.success-border{
    border-left: 0.5em solid #47D764;
}
.error-border{
    border-left: 0.5em solid #ff355b;
}
.info-border{
    border-left: 0.5em solid #2F86EB;
}
.warning-border{
    border-left: 0.5em solid #FFC021;
}
.success{
    color: #47D764;
}
.error {
    color: #ff355b;
}
.info {
    color: #2F86EB;
}
.warning {
    color: #FFC021;
}
.toast-title {
    font-weight: bold;
    margin-bottom: 0;
}
.toast-icon {
    width: 75%;
    height: 75%;
    margin-top: 13%;
    padding-right: 15%;
}
.toast-text{
    margin-top: 0;
}
.close-toast-icon{
    width: 2em;
    height: 2em;
}
.close-toast-icon:hover{
    cursor: pointer;
}